html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.r-general-wrapper {
	font-family: Arial;
	background: rgb(2,0,36);
	background: linear-gradient(188deg, rgba(2,0,36,1) 0%, rgba(119,44,232,1) 62%, rgba(165,114,244,1) 100%);
	height: 100vh;
	text-align: center;
	padding: 10px;
	overflow-x: hidden;
}

.r-title {
	margin-top: 5%;
	text-align: center;
   font-size:25px; font-weight:300; color:white; letter-spacing:1px;
   text-transform: uppercase;
   display: grid;
   grid-template-columns: 1fr max-content 1fr;
   grid-template-rows: 27px 0;
   grid-gap: 20px;
   align-items: center;
   width: 80%;
   margin-right: auto;
   margin-left: auto;
}

.r-title:after,.r-title:before {
   content: " ";
   display: block;
   border-bottom: 1px solid darkgray;
   border-top: 1px solid darkgray;
   height: 5px;
   background-color:linear-gradient(188deg, rgba(2,0,36,1) 0%, rgba(119,44,232,1) 62%, rgba(165,114,244,1) 100%);
}

.r-wrap-form, .r-wrap-copy {
	text-align: center;
	margin-top: 5%;

}

.r-btn-copy, .r-btn-valid  {
	margin-top: 2%;
}

.r-wrap-copy {
	margin-top: 5% !important;
}

.r-text {
	height: 30px;
	width: 80%;
	text-align: center;
	font-size: 20px;
	border-radius: 6px;
}

.r-btn-valid, .r-btn-copy {
	height: 50px;
	width: 250px;
	font-size: 20px;
}

.r-result {
	font-size: 20px;
	padding: 8px 15px 8px 15px;
	color: #bbbbbb;
	font-weight: 700;
	border: 2px solid #321275;
	border-radius: 8px;
	line-height: 2.2
}

.r-btn-copy, .r-btn-valid {
  display: inline-block;
  padding: 10px 25px 10px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;	
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #772CE8;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.r-btn-copy:hover, .r-btn-valid:hover {background-color: #4B1B9E}

.r-btn-copy:active, .r-btn-valid:active {
  background-color: #4B1B9E;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}